.chevron-icon {
    stroke-width: 1rem; /* Replace with desired width */
    width: 8vw;        /* Set a responsive icon size */
    max-width: 4rem;    /* Limit the icon maximum size */
    z-index: 5;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
