.hero-image {
    object-fit: cover;  /* object-cover */
    width: 100vw;       /* w-screen */
    margin-top: 60px;
    height: 20vh; /* Sets minimum responsive height */
    object-fit: cover; /* Scales image to cover area without stretching */
    object-position: center; /* Keeps focal point centered */
  }
  
/* Adjust height for mobile-first, increasing for larger screens */
/* Tailwind CSS breakpoints: https://tailwindcss.com/docs/responsive-design#using-custom-breakpoints */
@media (min-width: 480) {
    .hero-image {
        height: 25vh;
    }
}
@media (min-width: 640px) {
    .hero-image {
        height: 30vh;
    }
}
@media (min-width: 768px) {
    .hero-image {
        height: 35vh;
    }
}
@media (min-width: 1024px) {
    .hero-image {
        height: 40vh;
    }
}
@media (min-width: 1280px) {
    .hero-image {
        height: 50vh;
    }
}
  