.carousel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .carousel-image {
    height: 300px;          /* Set your fixed height */
    width: auto;            /* Maintain aspect ratio */
    object-fit: cover;      /* Crop image to fit the height */
    margin: auto;           /* Center horizontally */
    border-radius: 2rem;
  }
  
  .carousel-button {
    color: inherit;
    font-size: 20vw;
    font-weight: 800;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-58%);
    padding: 0.5rem;
  }
  
  .carousel-button:first-of-type {
    left: 0.5rem;
  }
  
  .carousel-button:last-of-type {
    right: 0.5rem;
  }
  