/* General Navbar Styling */
.header-nav {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: end;
}

.header-nav a {
    transition: transform 0.3s, color 0.3s;
}

.header-nav a:hover {
    transform: translateY(-0.2rem) scale(1.1);
}

/* Separator */
.header-nav .separator {
    display: none;
}

/* Burger Menu */
.burger-menu {
    cursor: pointer;
    margin: 1rem;
}

.burger-menu .line {
    background-color: black;
    width: 1.5rem;
    height: 0.2rem;
    transition: transform 0.3s, opacity 0.3s;
    margin: 0.2rem;
}

/* Fancy visual transform of the 3 burger lines into "X" in open state */
.burger-menu .line.open:nth-child(1) {
    transform: translate(0rem, 0.4rem) rotate(45deg);
}

.burger-menu .line.open:nth-child(2) {
    opacity: 0;
}

.burger-menu .line.open:nth-child(3) {
    transform: translate(0rem, -0.4rem) rotate(-45deg);
}

.nav-container {
    display: none;
}

/* Menu Open */
.nav-container.open {
    display: flex;
    position: absolute;
    right: 0;
    padding: 1rem;
    top: 100px;
    /* width: 100%; */
    justify-content: flex-end;
    height: 100vh;
}

/* Desktop View */
@media (min-width: 1024px) {
    .nav-container, .nav-container.open {
        display: flex;
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        justify-content: space-around;
        align-items: center;    
    }
        /* Navbar Fixed for Desktop */
    .header-nav {
        display: flex;
        width: 100%;
    }

    .burger-menu {
        display: none;
    }

    /* Nav List Always Visible */
    .header-nav .nav-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        position: static;
        transform: none;
        box-shadow: none;
        padding: 0;
    }
    /* Nav List Always Visible */
    .header-nav .nav-list .nav-item {
        display: flex;
        text-wrap: nowrap;
    }

    /* Separator */
    .header-nav .separator {
        display: flex;
        margin-left: 1rem;
    }

}
