header .header-nav {
    display: none;
}

.header-nav .nav-item {
    text-wrap: nowrap;
    margin: 0.2rem 0;
}

.header-nav a {
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-nav .separator {
    margin: 0 1rem;
}


@media (min-width: 500px) {
}

@media (min-width: 640px) {
    
/*     .header-nav {
        display: flex;
        padding: 3rem 0.5rem;
        font-size: 1rem;
    }   */
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
    header .header-nav {
        position: relative;    /* fixed */
        display: flex;
        width: 100%;
        font-size: inherit;
    }

    header .header-nav .navbar-fixed-background {
        position: fixed;    /* fixed */
        top: 0;             /* top-0 */
        left: 0;            /* left-0 */
        width: 100%;        /* w-full */
        height: 50px;
    }

    header .header-nav .nav-list {
        position: fixed;    /* fixed */
        top: 2rem;          /* top-0 */
        left: 50%;
        transform: translate(-31%, 0);
        display: flex;
    }
}
