footer .footer-contents .normative-box .normative-title {
    display: flex;
    gap: 0.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    align-items: center;
}

footer .footer-contents .normative-box .icons-list-item-hyperlink {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}
  