.story-box {
    container-type: inline-size; /* Enable container query based on the element's width */
    border: 2px solid;
    border-radius: 1.5rem;
    padding: 2rem;
  }

.story-box p {
    padding-bottom: 1.5rem;
    text-align: justify; /* Optional: Align text edges */
}

@media (min-width: 480px) {
}
@media (min-width: 640px) {
    .story-box {
        columns: 2;
        gap: 3rem;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
    .story-box {
        columns: 3;
    }
}
@media (min-width: 1280px) {
    .story-box {
        columns: 4;
    }
}
@media (min-width: 1536px) {
}