/* ThemeButton.css */
#theme-button {
    /* display: flex; */
    /* z-index: 40;
    position: absolute; */
    /* right: 0.5rem;
    top: 2.25rem; */
    /* align-items: center;
    justify-content: center; */
    cursor: pointer;
    /* line-height: 2.25rem; */
    /* max-width: 2rem;
    max-height: 2rem; */
    /* height: 3rem; */
}

#theme-button:hover {
    transform: scale(1.3);
}

#theme-button .theme-icon {
    max-width: 2rem;
    font-size: 8vw;
}

#theme-button #theme-tooltip {
    padding: 0.2rem 0.5rem 0.4rem;
    font-size: 1rem;
    align-content: center;
    border-radius: 0.4rem;
}

/* @media (min-width: 1024px) {
    #theme-button {
        position: fixed;
    }
} */
