.header {
  display: flex;
  max-height: 150px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.header-nav ul {
  display: flex;
  gap: 1rem;
}

.header-nav a {
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
}