.header {
  display: flex;
  max-height: 150px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.header-nav ul {
  display: flex;
  gap: 1rem;
}

.header-nav a {
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
}

.logo {
  max-width: 300px; /* Set maximum width */
  min-width: 200px; /* Set minimum width */
  width: 100%;      /* Responsive width */
  height: auto;     /* Keeps aspect ratio */
}
