.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fafafa;
    color: black;
  }
  
  .header-nav ul {
    display: flex;
    gap: 1rem;
  }
  
  .header-nav a {
    color: black;
    text-decoration: none;
  }
  
  .header-nav a:hover {
    text-decoration: underline;
  }