/* dark-theme.css */
.dark-theme {
  color: var(--color-neutral-lighter);
  border-color: var(--color-neutral-light);
  background-color: var(--color-neutral-darker);
}

.dark-theme .site-subtitle {
  color: var(--color-accent-light);
}

.dark-theme a {
  color: var(--color-neutral-lighter);
}

.dark-theme a:hover:not(.social-icon:hover) {
  color: var(--color-accent-lighter);
}

.dark-theme button {
  background-color: var(--color-primary-lighter);
  color: var(--color-neutral-light);
}

.dark-theme header {
  background-color: var(--color-primary-darker);
  color: var(--color-neutral-lighter);
}

.dark-theme header .navbar-fixed-background {
  background-color: var(--color-primary-darker);
}

.dark-theme #theme-button #theme-tooltip {
  color: var(--color-primary-light);
  background-color: var(--color-secondary-dark);
}

.dark-theme #theme-button .theme-icon-sun {
  color: var(--color-yellow);
}
