/* dark-theme.css */
.dark-theme {
  color: var(--color-neutral-lighter);
  border-color: var(--color-neutral-light);
  background-color: var(--color-neutral-darker);
}

.dark-theme :is(h1,h2,h3,h4) {
  color: var(--color-primary);
}

.dark-theme .site-subtitle {
  color: var(--color-accent-light);
}

.dark-theme a {
  color: var(--color-neutral-lighter);
}

.dark-theme a:hover:not(.social-icon:hover) {
  color: var(--color-accent);
}

.dark-theme button {
  background-color: var(--color-primary-lighter);
  color: var(--color-neutral-light);
}

/* ****** */
/* Header */
/* ****** */
.dark-theme header {
  background-color: var(--color-primary-darker);
  color: var(--color-neutral-lighter);
}

.dark-theme #theme-button #theme-tooltip {
  color: var(--color-secondary);
  background-color: var(--color-primary-dark);
}

.dark-theme #theme-button .theme-icon-sun {
  color: var(--color-secondary);
}

.dark-theme header .nav-container {
  background-color: var(--color-primary-dark);
}

.dark-theme header .burger-menu .line {
  background-color: var(--color-neutral-lighter);
}
.dark-theme header .burger-menu .line.open {
  background-color: var(--color-neutral-darker);
}

.dark-theme header a {
  color: var(--color-neutral-lighter);
}
.dark-theme header a:hover {
  color: var(--color-accent-dark);
}

/* ************* */
/* ImageCarousel */
/* ************* */
.dark-theme .chevron-icon {
  fill: var(--color-secondary-light);      /* Replace 'blue' with any color or variable */
  stroke: var(--color-neutral-darker);    /* Replace with desired color */
  transition: none;
}
.dark-theme .chevron-icon:hover {
  fill: var(--color-neutral-darker);      /* Replace 'blue' with any color or variable */
  stroke: var(--color-secondary-light);    /* Replace with desired color */
  transition: none;
}

.dark-theme .carousel .bullet {
  background-color: var(--color-secondary-light); /* Default bullet color */
  border-color: var(--color-neutral-darker);
}
.dark-theme .carousel .bullet:hover {
  background-color: var(--color-neutral-darker); /* Hover bullet color */
  border-color: var(--color-secondary-light);
}
.dark-theme .carousel .bullet.active {
  background-color: var(--color-neutral-darker); /* Active bullet color */
  border-color: var(--color-secondary-light);
}

/* *********** */
/* ContactForm */
/* *********** */
.dark-theme .contact-form {
  background-color: var(--color-primary-darker);
  color: var(--color-neutral-lighter);
}
.dark-theme .contact-form button {
  background-color: var(--color-accent);
  color: var(--color-neutral-lighter);
}
.dark-theme .contact-form button:hover {
  background-color: var(--color-accent-dark);
  color: var(--color-neutral-light);
}
.dark-theme .contact-form :is(input, select, textarea) {
  background-color: var(--color-neutral-darker);
  color: var(--color-neutral-lighter);
}
.dark-theme .contact-form ::placeholder {
  color: var(--color-neutral-lighter);
}

/* ********************* */
/* Normative e IconsList */
/* ********************* */
.dark-theme :is(.normative-box .normative-title, .icons-list .icons-list-item-hyperlink) {
  color: var(--color-accent-lighter);
}

/* Desktop View */
@media (min-width: 1024px) {
  .dark-theme .header-nav :is(.nav-container, .nav-container.open) {
      background-color: inherit;
  }    
}