/* light-theme.css */
.light-theme {
    color: #736270;
    border-color: #736270;
    background-color: #f6f5f0;
}

.light-theme .site-subtitle {
    color: #DD1896;
}

/* REMOVE AFTER MOVING DARK MODE ACTION TO APP.TSX */
.light-theme section, .light-theme header {
    background-color: brown;
}

.light-theme a {
    color: #736270;
}

.light-theme a:hover {
    color: #DD1896;
}

.light-theme button {
    background-color: #f6f5f0;
    color: black;
}

.light-theme header {
    background-color: rgb(115, 230, 115);
    color: black;
  }
  
.light-theme header .navbar-fixed-background {
    background-color: aqua;
}

.light-theme .header-nav a {
    color: #736270;
}

.light-theme .header-nav a:hover {
    color: #DD1896;
}

  