/* light-theme.css */
  
.light-theme {
    color: var(--color-primary-dark);
    border-color: var(--color-neutral);
    background-color: var(--color-ivory);
}

.light-theme .site-subtitle {
    color: var(--color-accent);
}

.light-theme a {
    color: var(--color-neutral);
}

.light-theme a:hover:not(.social-icon:hover) {
    color: var(--color-accent);
}

.light-theme button {
    background-color: var(--color-primary-darker);
    color: var(--color-neutral-dark);
}

.light-theme header {
    background-color: var(--color-primary-light);
    color: var(--color-neutral-darker);
  }
  
.light-theme header .navbar-fixed-background {
    background-color: var(--color-primary-light);
}

.light-theme #theme-button #theme-tooltip {
    color: var(--color-primary-dark);
    background-color: var(--color-secondary-light);
}
.light-theme #theme-button .theme-icon-moon {
    color: var(--color-neutral-darker);
}

.light-theme .header-nav a {
    color: var(--color-neutral-light);
}

.light-theme .header-nav a:hover {
    color: var(--color-accent);
}

.contact-form {
    background-color: var(--color-secondary-light);
    color: var(--color-neutral-darker);
}
.contact-form button {
    background-color: var(--color-accent);
    color: var(--color-neutral-lighter);
}
.contact-form button:hover {
    background-color: var(--color-accent-dark);
    color: var(--color-neutral-light);
}
