/* light-theme.css */
  
.light-theme {
    color: var(--color-primary-dark);
    border-color: var(--color-neutral);
    background-color: var(--color-primary-bg);
}

.light-theme .site-subtitle {
    color: var(--color-accent);
}

.light-theme a {
    color: var(--color-neutral);
}

.light-theme a:hover:not(.social-icon:hover) {
    color: var(--color-accent);
}

.light-theme button {
    background-color: var(--color-primary-darker);
    color: var(--color-neutral-dark);
}

.light-theme header {
    background-color: var(--color-primary);
    color: var(--color-neutral-darker);
  }
  
.light-theme header .navbar-fixed-background {
    background-color: var(--color-primary);
}

.light-theme .header-nav a {
    color: var(--color-neutral-light);
}

.light-theme .header-nav a:hover {
    color: var(--color-accent);
}

  